@use "./variables" as variables;

body {
    height: 95vh;
    width: 98vw;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    width: 80%;
    place-items: center;
}

main {
    article {
        width: 40%;
        margin-bottom: 60px;
    }
}

.card {
    padding: 0 20px 20px 20px;

    article {
        width: 100%;
    }
    div {
        img {
            width: 50px;
            height: 50px;
        }
    }

    &.cyan {
        grid-column: 1/2;
        grid-row: 2/5;
        border-top: 3px solid map-get(variables.$palette, cyan);
    }
    &.red {
        grid-column: 2/3;
        grid-row: 1/3;
        border-top: 3px solid map-get(variables.$palette, red);
    }
    &.orange {
        grid-column: 2/3;
        grid-row: 4/6;
        border-top: 3px solid map-get(variables.$palette, orange);
    }
    &.blue {
        grid-column: 3/4;
        grid-row: 2/5;
        border-top: 3px solid map-get(variables.$palette, blue);
    }
}
